@use 'variables' as _var;
@use 'styles.scss' as global;

bc-home {
	display: block;
	height: 100%;
	margin: 0 auto;

	.hero-container {
		background-color: #fff;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		padding: 1.5rem;

		.hero-image {
			max-width: 700px;
			width: 100%;
			height: auto;
		}

		.hero-content {
			display: flex;
			color: _var.$secondary;
			flex-flow: column wrap;
			justify-content: center;
			text-align: left;
			margin-bottom: 1rem;

			h1 {
				font-size: 2.5rem;
				margin: 0.5rem 0;
			}

			p {
				font-size: 1.3rem;
			}

			button {
				max-width: 150px;
				margin: 1rem auto;
			}
		}
	}

	.info-container {
		background-color: rgb(255, 255, 255, 0.7);
		min-height: 500px;
		padding: 1.5rem;
		text-align: center;

		h1 {
			font-size: 2.5rem;
			color: _var.$primary;
			margin: 0;
		}

		p {
			font-size: 1.5rem;
			color: _var.$secondary;
		}

		.info-images {
			margin-top: 2.5rem;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;

			img {
				max-width: 500px;
				width: 100%;
				height: auto;
			}
		}
	}

	.info-text-container {
		display: flex;
		background-color: #fff;
		flex-flow: row wrap;
		justify-content: space-evenly;
		padding: 1.5rem;

		.info-text-item {
			display: flex;
			flex-flow: column nowrap;
			text-align: center;
			margin: 1rem;

			h4 {
				color: _var.$primary;
				font-size: 1.3rem;
				margin: 0;
			}

			p {
				color: _var.$secondary;
				font-size: 1rem;
				margin: 0;
			}
		}
	}
}

div.main-container {
	padding: 0;
}
