<div class="box-wrapper">
  <mat-card appearance="outlined" class="box">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <mat-card-content>
        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            ngModel
            name="email"
            required
            #email="ngModel"
            email
          />
          @if (email?.hasError('required')) {
            <mat-error>Email is required.</mat-error>
          }
          @if (email?.hasError('email')) {
            <mat-error>Email is invalid.</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            ngModel="name"
            name="password"
            required
            #password="ngModel"
            minlength="6"
          />
          @if (password?.hasError('required')) {
            <mat-error>Password is required.</mat-error>
          }
          @if (password?.hasError('minlength')) {
            <mat-error>Password must be at least 6 characters.</mat-error>
          }
        </mat-form-field>
        <button
          mat-stroked-button
          color="accent"
          class="btn-auth"
          [disabled]="form.invalid"
        >
          Login
        </button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
