<div class="box-wrapper">
  <mat-card appearance="outlined" class="box">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <mat-card-content>
        <mat-form-field>
          <input
            type="email"
            matInput
            ngModel
            placeholder="Email"
            name="email"
            required
            #email="ngModel"
            email
            />
          @if (email?.invalid && (email.dirty || email.touched)) {
            <mat-error>
              @if (email.errors.required) {
                <div>Email is required.</div>
              }
              @if (email?.errors?.email) {
                <div>Email is invalid.</div>
              }
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            matInput
            ngModel="name"
            placeholder="Password"
            name="password"
            required
            #password="ngModel"
            minlength="6"
            />
          @if (password?.invalid && (password.dirty || password.touched)) {
            <mat-error
              >
              @if (password.errors.required) {
                <div>Password is required.</div>
              }
              @if (password.errors.minlength) {
                <div>
                  password must be at least 6 characters.
                </div>
              }
            </mat-error>
          }
        </mat-form-field>
      </mat-card-content>
      <button
        mat-stroked-button
        color="accent"
        class="btn-auth"
        [disabled]="form.invalid"
        >
        Login
      </button>
    </form>
  </mat-card>
</div>
