@import '../../../variables';

/* .box-wrapper {
    height:100%;
    margin: 25px;

    .box {
        width: 100%;
        max-width: 400px;
        background-color: white;
        border: solid 3px $primary;
        border-radius: 10px;
        padding: 25px;

        .box-header {
            font-size: 3em;
            color: $primary;
        }
    }
}

.mat-stroked-button {
    border:1px solid currentColor;
    line-height:54px;
    background:#FFF7FA;
    width: 100%;
} */
