<div class="box-wrapper">
  <mat-card appearance="outlined" class="box">
    <mat-card-header class="box-header">
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <mat-card-content>
        <mat-form-field>
          <input
            type="email"
            matInput
            ngModel
            placeholder="Email"
            name="email"
            required
            #email="ngModel"
            email
            />
          @if (email?.invalid && (email.dirty || email.touched)) {
            <mat-error>
              @if (email.errors.required) {
                <div>Email is required.</div>
              }
              @if (email?.errors?.email) {
                <div>Email is invalid.</div>
              }
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            matInput
            ngModel
            placeholder="Password"
            name="password"
            required
            #password="ngModel"
            minlength="6"
            />
          <mat-hint align="end">{{ password.value?.length }} / 6</mat-hint>
          @if (password?.invalid && (password.dirty || password.touched)) {
            <mat-error
              >
              @if (password.errors.required) {
                <div>Password is required.</div>
              }
              @if (password.errors.minlength) {
                <div>
                  password must be at least 6 characters.
                </div>
              }
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <input
            type="password"
            matInput
            ngModel
            placeholder="Confirm Password"
            name="confirmPassword"
            required
            pattern="{{ password.value }}"
            #confirmPassword="ngModel"
            />
          @if (
            confirmPassword?.invalid &&
            (confirmPassword.dirty || confirmPassword.touched)
            ) {
            <mat-error
              >
              @if (confirmPassword.errors.required) {
                <div>
                  Confirm Password is required.
                </div>
              }
              @if (confirmPassword.errors.pattern) {
                <div>
                  password must match
                </div>
              }
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            matInput
            ngModel
            placeholder="Name"
            name="name"
            required
            #name="ngModel"
            />
          @if (name?.invalid && (name.dirty || name.touched)) {
            <mat-error>
              @if (name.errors.required) {
                <div>Name is required.</div>
              }
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            matInput
            ngModel
            placeholder="Last Name"
            name="lastName"
            required
            #lastName="ngModel"
            />
          @if (lastName?.invalid && (lastName.dirty || lastName.touched)) {
            <mat-error
              >
              @if (lastName.errors.required) {
                <div>Last Name is required.</div>
              }
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select ngModel required #gender="ngModel" name="gender">
            <mat-option>--</mat-option>
            @for (gender of genders; track gender) {
              <mat-option [value]="gender.code">
                {{ gender.description }}
              </mat-option>
            }
          </mat-select>
          @if (gender?.hasError('required')) {
            <mat-error
              >Please choose a gender.</mat-error
              >
            }
          </mat-form-field>
          <mat-form-field>
            <input
              type="text"
              matInput
              ngModel
              placeholder="Phone"
              name="phone"
              required
              pattern="^(?:\()[0-9]{2}(?:\))\s?[0-9]{4,5}(?:-)[0-9]{4}$"
              #phone="ngModel"
              />
            <mat-hint align="start">Ex: (99) 99999-9999</mat-hint>
            @if (phone?.invalid && (phone.dirty || phone.touched)) {
              <mat-error>
                @if (phone.errors.required) {
                  <div>Phone is required.</div>
                }
                @if (phone.errors.pattern) {
                  <div>Phone is invalid.</div>
                }
              </mat-error>
            }
          </mat-form-field>
          <!--  <mat-form-field>
          <mat-label>State</mat-label>
          <mat-select ngModel required #state="ngModel" name="state">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let state of states" value="state.id">
              {{state.sigla}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="state?.hasError('required')">Please choose a state.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>City</mat-label>
          <mat-select ngModel required #city="ngModel" name="city">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let city of cities" value="city.id">
              {{city.nome}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="city?.hasError('required')">Please choose a city.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput ngModel placeholder="Address" name="address" required maxlength="50"
            #address="ngModel">
          <mat-hint align="end">{{address.value?.length}} / 50</mat-hint>
          <mat-error *ngIf="address?.invalid && (address.dirty || address.touched)">
            <div *ngIf="address.errors.required">Address is required.</div>
            <div *ngIf="address.errors.maxlength">Address must contain a maximum of 50 characters.</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput ngModel placeholder="Number" name="number" required #number="ngModel">
          <mat-error *ngIf="number?.hasError('required')">Number is required.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput ngModel placeholder="Complement" name="complement" maxlength="50"
            #complement="ngModel">
          <mat-hint align="end">{{complement?.value?.length}} / 50</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput ngModel placeholder="Zip Code" name="zipcode" minlength="8" required
            #zipcode="ngModel" pattern="^[0-9]*$">
          <mat-hint align="end">{{zipcode.value?.length}} / 8</mat-hint>
          <mat-error *ngIf="zipcode?.invalid && (zipcode.dirty || zipcode.touched)">
            <div *ngIf="zipcode.errors.required">Zip Code is required.</div>
            <div *ngIf="zipcode.errors.minlength">Zip Code must be at least 8 characters.</div>
            <div *ngIf="zipcode.errors.pattern">Zip Code is invalid.</div>
          </mat-error>
        </mat-form-field> -->
      </mat-card-content>
      <button
        mat-stroked-button
        color="accent"
        class="btn-auth"
        [disabled]="form.invalid"
        >
        Register
      </button>
    </form>
  </mat-card>
</div>
