@import '../../variables';

.toolbar-logo{
    padding-top: 25px;
    -webkit-filter: $logo-shadow;
    filter: $logo-shadow;
    width: 325px;
    height: 325px;    
}

.toolbar-second-row {
    background-color: $secondary;
    border-top: double 5px white;
    border-bottom: double 5px white;
}

.toolbar-third-row {
    box-shadow: $container-shadow;
}

.box-wrapper {
    height:100%;
    margin: 25px;    

    .box {
        width: 100%;
        max-width: 600px;
        background-color: white;
        border: double 4px $primary;
        border-radius: 10px;
        padding: 25px;
        box-shadow: $container-shadow;

        .box-header {
            font-size: 3em;
            color: $primary;
        }
    }
}

.btn-auth {
    margin-top: 15px;
    border:1px solid currentColor;
    line-height:54px;
    background: $light-red;
    width: 100%;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: white;
}