@use 'variables' as _var;
@use 'styles.scss' as global;

.box-wrapper {
	height: 100%;
	margin: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;

	.box {
		width: 100%;
		max-width: 600px;
		background-color: white;
		border: double 4px _var.$primary;
		border-radius: 10px;
		padding: 25px;
		box-shadow: _var.$container-shadow;
		flex-direction: column;
		align-items: center;

		.mat-mdc-card-header {
			justify-content: center;

			.mat-mdc-card-title {
				color: _var.$primary;
				font-family: _var.$default-font;
				font-size: 3em;
				margin: 0;
			}
		}
	}
}

@include global.respond-above(md) {
	.box-wrapper {
		.box {
			margin-top: 150px;
		}
	}
}
