@use 'variables' as _var;
@use 'styles.scss' as global;

.toolbar-logo {
	display: none;
	padding-top: 25px;
	-webkit-filter: _var.$logo-shadow;
	filter: _var.$logo-shadow;
	width: 325px;
	height: 325px;
}

.toolbar-first-row {
	justify-content: center;
	align-items: baseline;
}

.toolbar-second-row {
	background-color: _var.$secondary;
	border-top: double 5px white;
	border-bottom: double 5px white;
	justify-content: end;
}

.toolbar-third-row {
	box-shadow: _var.$container-shadow;
}

.box-wrapper {
	height: 100%;
	margin: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem;

	.box {
		width: 100%;
		max-width: 600px;
		background-color: white;
		border: double 4px _var.$primary;
		border-radius: 10px;
		padding: 25px;
		box-shadow: _var.$container-shadow;
		flex-direction: column;
		align-items: center;

		.mat-mdc-card-header {
			justify-content: center;

			.mat-mdc-card-title {
				color: _var.$primary;
				font-family: _var.$default-font;
				font-size: 3em;
				margin: 0;
			}
		}
	}
}

.btn-auth {
	margin-top: 15px;
	border: 1px solid currentColor;
	background: _var.$light-red;
	width: 100%;
	height: 3.5rem;
}

.mat-mdc-progress-spinner circle,
.mat-mdc-progress-spinner circle {
	stroke: white;
}

@include global.respond-above(md) {
	.toolbar-logo {
		display: block;
	}

	.logo-text {
		display: none;
	}

	.box-wrapper {
		.box {
			margin-top: 150px;
		}
	}
}
