@use 'styles.scss' as global;

.cart-container {
	display: grid;
	grid-template-columns: 7fr 3fr;
	gap: 2rem;
}

@include global.respond-below(sm) {
	.cart-container {
		grid-template-columns: 1fr;
	}
}
