<bc-title [title]="'About'"></bc-title>
<div class="about-container">
	<div class="image-content">
		<figure>
			<img
				class="about-banner"
				src="../../../../assets/images/vintage_dark_red.png"
				alt="vintage dark red"
			/>
			<figcaption>Bike Art</figcaption>
		</figure>
	</div>
	<div class="text-content">
		<h2>More than just a store</h2>
		<p>
			Welcome to Bycicle Club, where passion meets craftsmanship. Since 1962, we
			have been dedicated to creating high-quality, customized bicycles that stand
			out for their performance, durability, and unique design. Founded by William
			Carter, a visionary cycling enthusiast, Bycicle Club has grown into a trusted
			brand for riders who seek more than just a bike—they seek an experience.
		</p>
		<p>
			At Bycicle Club, we believe that a bicycle is more than just a means of
			transportation; it’s a lifestyle. That’s why we use only the finest materials
			and cutting-edge technology to build bikes that are tailored to your personal
			style and needs. Whether you're a casual rider or a seasoned cyclist, our
			collection of custom bicycles ensures that you ride with comfort, efficiency,
			and elegance.
		</p>
		<p>
			Beyond our store, Bycicle Club is also a community. Our exclusive "Tour"
			service offers members the opportunity to explore the city through organized
			bike rides on scenic circuits. These tours provide not only an unforgettable
			cycling experience but also a chance to connect with fellow enthusiasts who
			share the same passion for adventure and freedom. Join Bycicle Club today and
			be part of a tradition that has been redefining the cycling world for over
			six decades. Ride with style, ride with purpose—ride with Bycicle Club.
		</p>
	</div>
</div>
