@use 'styles.scss' as global;

.shopping-details-container {
	display: grid;
	grid-template-columns: 3fr 5fr 2fr;
	gap: 2rem;
}

@include global.respond-below(sm) {
	.shopping-details-container {
		grid-template-columns: 1fr;
	}
}
