<!-- <section class="hero-container">
	<bc-carousel [images]="imagesPaths"></bc-carousel>
</section> -->

<section class="hero-container">
	<div class="hero-content">
		<h1>Join the Ride</h1>
		<h1>Explore. Connect. Belong.</h1>
		<p>Since 1962 Building Bikes, Creating Experiences</p>
		<a mat-raised-button color="primary" routerLink="/shopping">
			Go to Shopping
		</a>
	</div>
	<img class="hero-image" src="../../../../assets/images/Hero_1.png" />
</section>

<section class="info-container">
	<h1>All classic models</h1>
	<p>Combining modern components with classic 50s and 60s design</p>
	<div class="info-images">
		<img src="../../../../assets/images/Home_info_yellow.png" />
		<img src="../../../../assets/images/Home_info_green.png" />
	</div>
</section>

<section class="info-text-container">
	<div class="info-text-item">
		<h4>Comfort and elegance</h4>
		<p>The best combination for everyday life</p>
	</div>
	<div class="info-text-item">
		<h4>Durability and robustness</h4>
		<p>To last for a long time</p>
	</div>
	<div class="info-text-item">
		<h4>Custom build</h4>
		<p>Choose the model and customize</p>
	</div>
	<div class="info-text-item">
		<h4>The best components</h4>
		<p>Excellence in quality</p>
	</div>
</section>
