@use 'variables' as _var;

.carousel {
	position: relative;
	width: 100%;
	margin: auto;
	overflow: hidden;

	.carousel-wrapper {
		display: flex;
		width: 100%;
		height: 700px;
		position: relative;
	}

	.carousel-slide {
		min-width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;

		&.active {
			opacity: 1;
		}
	}

	.prev,
	.next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		// background: rgba(0, 0, 0, 0.5);
		//color: _var.$primary;
		border: none;
		padding: 10px;
		cursor: pointer;
		z-index: 10;
	}

	.prev {
		left: 10px;
	}

	.next {
		right: 10px;
	}

	.indicators {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		gap: 5px;

		span {
			width: 10px;
			height: 10px;
			background: _var.$secondary;
			border-radius: 50%;
			display: inline-block;
			cursor: pointer;
			opacity: 0.5;
			transition: opacity 0.3s;

			&.active {
				opacity: 1;
			}
		}
	}
}
