<div class="bike-price-content">
	<h1>{{ price() | currency }}</h1>
	<p>
		Delivery will be to the address registered in your account. If you want to
		change the address, click here.
	</p>
	<button
		class="form-button secondary"
		mat-button
		mat-raised-button
		color="accent"
		(click)="onChangeAddress()"
	>
		Change Address
	</button>
	<p>You can add this bicycle to your cart or buy it right now.</p>
	<mat-form-field class="form-field">
		<mat-label>Quantity</mat-label>
		<input type="number" matInput [formControl]="quantity" step="1" />
		@if (quantity?.hasError('min')) {
			<mat-error>Minimum value is 1.</mat-error>
		}
		@if (quantity?.hasError('max')) {
			<mat-error>Maximum value is 20.</mat-error>
		}
	</mat-form-field>
	<button
		class="form-button"
		mat-button
		mat-raised-button
		color="primary"
		[disabled]="quantity.invalid"
		(click)="onAddToCart()"
	>
		Add to Cart
	</button>
	<button
		class="form-button"
		mat-button
		mat-raised-button
		color="primary"
		[disabled]="quantity.invalid"
		(click)="onBuyNow()"
	>
		Buy Now
	</button>
</div>
