<div class="cart-item-container">
	<div class="cart-item-image">
		<img class="img-responsive" [src]="imagePath()" alt="{{ bike()?.name }}" />
	</div>
	<div class="cart-item-details">
		<h2>{{ bike()?.model }}</h2>
		<hr />
		<p>{{ bike()?.description }}</p>
		<p>Price: {{ bike()?.price | currency }}</p>
		<div class="cart-item-actions">
			<bc-increment
				[value]="purchase().quantity"
				(changeQuantity)="onChangeQuantity($event)"
			></bc-increment>
			<button class="secondary" matMiniFab color="accent" (click)="onRemove()">
				<mat-icon>delete</mat-icon>
			</button>
		</div>
	</div>
	<div class="cart-item-total">
		<h3>Total: {{ totalPrice() | currency }}</h3>
	</div>
</div>
