/* Main color variables */
$primary: #566783;
$secondary: #D95228;
$background: #F9F7E0;
$warn: #dc322c;

/* especial color variables */
$light-red: #FFF7FA;
$warning: #E4C614;

/* Main shadow variables */
$container-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 
         0 6px 10px 0 rgba(0, 0, 0, .14), 
         0 1px 18px 0 rgba(0, 0, 0, .12);

/* Default Font*/
$default-font: 'Oswald', sans-serif;