/* You can add global styles to this file, and also import other style files */
//@import '~bootstrap/dist/css/bootstrap.min.css'; 
@import './variables';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: $default-font;    
    @extend .dot-background;   
}

/* background textures */
.dot-background {
    background-color: $background;
    background-image: $dotted-image;
}

.grain {
    background-image: url("assets/images/grain.png");
    background-repeat: repeat;
}

.simple-background {
    background-color: $background;
}
/* Logo text */
.logo-text {
    font-family: $logo-font;
    font-size: 2.1em;
    color: $background;
    text-shadow: 2px 4px 5px rgba(15,6,4,0.6);
}

/* Inputs and Forms */

form {
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    mat-form-field {
        width: 100%;
    }
}

// Commom Screen Classes 
.main-container {
    padding: 25px;
}

.main-content {
    //@extend .simple-background;
    background-color: rgb(255, 255, 255, 0.7);
}
// Material desgin personalizations -- // Todo passar para um arquivo scss separado.

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: $default-font;
    font-size: 18px;    
}

.mat-form-field {
    font-family: $default-font;
    margin-top: 0.7em;
}

.mat-option, .mat-select {
    font-family: $default-font;
}

// Overlay
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    z-index: 50;
}