<mat-expansion-panel [expanded]="expanded">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h2 class="panel-title">{{title}}</h2>          
        </mat-panel-title>
        <mat-panel-description *ngIf="description">
          {{description}}
        </mat-panel-description>
      </mat-expansion-panel-header>    
      <ng-content></ng-content>      
      <mat-action-row>
        <button class="form-button" 
                mat-button 
                mat-raised-button 
                color="primary" 
                (click)="onSubmit()"
                [disabled]="submitDisabled">
                {{submitText}}
        </button>
      </mat-action-row>
</mat-expansion-panel>
