<div class="main-container">
    <bc-title [title]="'About'"></bc-title>
    <div class="main-content">
        <div class="about-container">
            <img class="about-banner" src="../../../../assets/images/Art_Background.jpg" alt="banner">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla porro aut, quo ullam illum corrupti 
               officia praesentium saepe ut officiis ducimus dolore libero sint ratione fugit non esse quos facilis 
               obcaecati harum nobis dicta? Repellendus sapiente optio non eaque ipsam natus, ea aliquid omnis perferendis 
               temporibus quibusdam cumque voluptate illo quidem fuga animi. Distinctio aliquid perspiciatis omnis, possimus id quam 
               corporis atque placeat laborum ipsam repellendus, a nisi eius pariatur sunt! Sed corrupti possimus neque ipsa incidunt, 
               modi accusantium voluptatem, voluptates nisi veritatis fugiat ab minima et. Minima quam vero voluptatum. Enim magnam eveniet iure, 
               delectus vero esse rerum! Aliquid, corrupti repellat. Eos optio, velit quibusdam corporis doloribus quam modi laudantium dolore 
               pariatur assumenda maiores quasi amet voluptatibus ea iste omnis quaerat id minima non aut, similique sequi in. 
               Libero facilis quidem maiores sint similique deleniti qui omnis voluptatum blanditiis vitae debitis laboriosam dolore maxime, 
               non dolor. Molestiae sed architecto temporibus voluptatibus fugiat iure, saepe modi obcaecati necessitatibus veritatis, 
               iusto illo reprehenderit molestias. In sint totam expedita illo nihil! Et ullam blanditiis architecto, ut adipisci, 
               similique vitae esse, dolor officia consectetur soluta sequi earum iusto a fugiat repudiandae porro amet at? 
               Provident voluptate magni corrupti odit tempora eligendi incidunt maiores.
            </p>
        </div>
        

    </div>
</div>


